/* Structure */
.invoice-component-container {
  max-width: 800px;
  height: 90vh;
  vertical-align: middle;
  margin: 0 auto;
}

.invoice-table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 80%;
    margin: 20px;
  }
  
  .mat-table {
    overflow: auto;
  }

  .invoice-table-buttons {
    margin: 30px;
  }
  
  .mat-header-row {
    position: sticky;
    top: 0;
    background: white;
  }